<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

<h1> Stocks </h1>

	<% stocks.forEach((stock) => { %>
	<p> <b> <%= stock[0]%>:&nbsp; </b><%= stock[1]%> <br> </p>
	<% }) %>

<br>

<p class = "small"> <i>updated: <%= stocks[0][2]%></i> </p>


<h1> Crypto </h1>
	<% cryptos.forEach((crypto) => { %>
	<p> <b> <%= crypto[1]%>: </b> &nbsp;<%= crypto[2]%> </p><% }) 
	%>
<br>

<p class = "small"> <i>updated: <%= cryptos[0][5]%></i> </p>

</body>
</html>
