<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<h1> Stocks </h1>
 <b><%= stocks[0]%> </b>: $<%= stocks[1]%>
 <br>
 <b><%= stocks[2]%> </b>: $<%= stocks[3]%>
 <br>
 <b><%= stocks[4]%> </b>: $<%= stocks[5]%>

</body>
</html>
