<!DOCTYPE html>
<html>

	<head>
		<% include ../partials/header.ejs %>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
		</script>
	</head>

	<body>
		<div id = "everything">
		<p class = "aggregate"> 
			<% aggregates.forEach((aggregate) => { %>
			<b> <%= aggregate[0]%>: </b><%= aggregate[1]%> | <% }) 
			%>
			<button id ="button" onclick="myFunction()">nightmode</button>

		</p>
			<script>
				function myFunction() {
					const element = document.getElementById("everything");
					if (element.classList.contains('nightMode')){
						element.classList.remove("nightMode");
						element.classList.add("lightMode");
						document.body.style.backgroundColor = "white";
						document.getElementById("button").classList.remove('nightbutton')

					}
					else {
						element.classList.remove("lightMode");
						element.classList.add("nightMode");
						document.body.style.backgroundColor = "black";
						document.getElementById("button").classList.add('nightbutton')
					}
				}
			</script>

		<div class = "data"> 
			<h1> Crypto </h1>
			<% cryptos.forEach((crypto) => { %>
			<p> <b> <img src = <%=crypto[3]%> svg width="27px" height="27px"> <%= crypto[1]%> : </b> &nbsp;<%= crypto[2]%> </p> <% 
			})%>

			<br>

			<p class = "small"> <i>last update: <%= cryptos[0][6]%></i> </p>

			<h1> Stocks </h1>
			<% stocks.forEach((stock) => { %>
			<p> <b> <img src = <%=stock[3]%> svg width="27px" height="27px" > <%= stock[0]%>:&nbsp; </b><%= stock[1]%> <br> </p>
			<% }) %>

			<br>

			<p class = "small"> <i>last update: <%= stocks[0][2]%></i> </p>
		</div>
	</div>
	</body>
</html>


